@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">User Manager!</h1>
    <ul style="list-style-type: none">
        <li><a href="/Users/Add">Create a New User</a></li>
        <li><a href="/Users">View Current Users</a></li>
    </ul>
</div>
